@font-face {
    font-family: 'lobster';
    src: url('../fonts/lobster_1.4-webfont.eot');
    src: url('../fonts/lobster_1.4-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lobster_1.4-webfont.woff') format('woff'),
         url('../fonts/lobster_1.4-webfont.ttf') format('truetype'),
         url('../fonts/lobster_1.4-webfont.svg#lobster_1.4regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	padding-top:70px;
	height: 100%;
}
.headline {
	text-align: center;
	color: #7d7d7d;
	margin-top: 20px;
}
#footer {
	margin-top: 50px; 
	padding: 50px 20px;
	background-color: #fff;
	text-align: center;
	color: #ff755a;
}
.items .well img {
	width: 100%;
	min-height: 200px;
}
.items {
	line-height: 1.35em;
}
.items h5 {
	font-family: inherit;
	line-height: 1em;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 5px;
}
#tags {
	margin-bottom:30px;
	text-align: center;
}
#tags .label{
	padding: 8px;
	font-size: 13px;
}
#page .summary, #page .pagination, span.empty {
	color: #7d7d7d;
	margin-bottom: 20px;
	margin-left: 20px;
}
#page h1 {
	margin-top: 0;
	margin-bottom: 20px;
	text-align: center;
}
a.label{
	margin-bottom: 10px;
}
#tugas-akhir .pagination {
	display: none;
}
form.navbar {
	margin:0;
}
.sauto{
  float: left;
  margin-right: 10px;
}
.bsmListSortableCustom li {
  cursor: move;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin: 2px 0;
}

/* custom */
.bsmList-custom {
  /* html list that contains selected items */
  margin: 0.25em 0 0.25em 0;
  display: block;
  padding-left: 0;
  list-style: none;
}

.bsmListItem-custom {
  /* li item from the html list above */
  margin: 0 5px 5px 0;
  padding: 4px;
  list-style: none;
  background: #ddd;
  border: 1px solid #bbb;
  line-height: 1em;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; 
}

.bsmListItem-custom:hover {
  background-color: #e5e5e5;
  box-shadow: 0 0 3px #aaa;
  -webkit-box-shadow: 0 0 3px #aaa;
  -moz-box-shadow: 0 0 3px #aaa;
}

.bsmListItemLabel-custom {
  padding-right: 5px;
}

.bsmListItemRemove-custom {
  text-decoration: none;
}